aside.logo {
  background-color: var(--bg-dark);
  display: flex;
  justify-content: baseline;
  align-items: center;
}

aside.logo img {
  width: 100%;
}

@media(max-width: 576px) {
  aside.logo img {
    width: 560px;
    height: 140px;
  }
}